.International{
          background-image: url('./Images/AboutUsImages/Evbg2.webp');;
}
.EES{
          background-image: url('./Images/AboutUsImages/Evbg3.webp');  
}
.BRP{
          background-image: url('./Images/Customization/BRP.jpg');
}
.AGRITECH{
          background-image: url('./Images/AboutUsImages/Evbg4.webp');
}
.MSB{
          background-image: url('./Images/AboutUsImages/Evbg5.webp');  
}
.ICF{
          background-image: url('./Images/Customization/ICF.jpg');  
}
.EDA{
          background-image: url('./Images/Customization/EDA.jpg');  
}
*{
          scroll-behavior: smooth;
}
.Template-Project,.MSB,.AGRITECH,.EES,.International ,.BRP,.ICF,.EDA{
          background-position: center;
          background-attachment: fixed;
          background-size: cover;
          animation:scrl linear; 
          animation-timeline: view();
}
@keyframes scrl {

0% {background-position: top;}

100% {background-position: bottom;}
}