.International{
          background-image: url('./Images/AboutUsImages/Evbg2.webp');;
}
.EES ,.EMS{
          background-image: url('./Images/AboutUsImages/Evbg3.webp');  
}
.AGRITECH{
          background-image: url('./Images/AboutUsImages/Evbg4.webp');
}
.MSB{
          background-image: url('./Images/AboutUsImages/Evbg5.webp');  
}
.ILS{
          background-image: url('./Images/Customization/img2.jpg');  
}
.ESS{
          background-image: url('./Images/Customization/img3.jpg');  
}
*{
          scroll-behavior: smooth;
}
.Template-Project,.MSB,.AGRITECH,.EES,.International ,.EMS,.ILS,.ESS{
          background-position: center;
          background-attachment: fixed;
          background-size: cover;
          animation:scrl linear; 
          animation-timeline: view();
}
@keyframes scrl {

0% {background-position: top;}

100% {background-position: bottom;}
}